##
## MoneroSwap contract address
##
CONTRACT=contract.xmrp2p.eth

##
## EVM blockchain RPC URLs (comma separated list)
##
RPC=https://rpc.gnosis.gateway.fm/

##
## URL of Monero Daemon
##
MONERO_DAEMON=https://xmr-node.cakewallet.com:18081

##
## URL of Monero Wallet RPC
##
MONERO_WALLET_RPC=https://127.0.0.1:18082/

##
## Loop delay (in seconds)
##
LOOP_DELAY=60

##
## Minimum amount of XMR to sell per swap (in XMR if floating point number, in piconeros if integer)
## If the Monero hot wallet doesn't have enough XMR to provide the minimum value, no offer will be created
##
MINXMR=0.001

##
## Maximum amount of XMR to sell per swap (in XMR if floating point number, in piconeros if integer)
## Note that if the Monero hot wallet doesn't have enough XMR, the maximum will be adjusted.
##
MAXXMR=0.001

##
## Minimum price (in EVM currency if floating point number, in wei if integer)
## This is the price below which your offer cannot be taken
##
MINPRICE=400.0

##
## Maximum price (in EVM currency if floating point number, in wei if integer)
## This is the price used to determine the amount of the deposit
## If the price at which your offer would be taken is above this limit, the maximum amount of XMR
## will be adjusted according to your deposit
##
MAXPRICE=500.0

##
## Ratio applied to the oracle price for dynamically priced offers
##
ORACLE_RATIO=1.0

##
## Offset added to the oracle price multipled by ORACLE_RATIO to determine the dynamic price
## In EVM currency if a float, in weis if an integer
##
ORACLE_OFFSET=0.0

##
## Minimum amount of EVM currency an EOA must have to cover gas costs
##
GAS_ALLOWANCE=0.01
